body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* start Home */
#home{
    background-image: url(../events-heavenly-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* width: 100%; */
    height: 550px;
    position: relative;
    overflow: hidden;
}
.overflow{
    position: absolute;
    background-color:rgba(214, 46, 51 , 0.6) ;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.overflow .nav .ulManu{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
    padding-left: 0px;
    
    list-style: none;
}
.overflow .nav #ulManu li a {
    padding: 20px 15px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
    color: white;
    /* text-align: center; */
}
.overflow .nav #ulManu li a:hover{
    color: #d62e3366;
}
.closeBtn{
    text-align: right;
    margin-right: 30px;
    font-size: 30px !important;
}
.home-content{
    width:100%;
    text-align: center;
    height: 50%;
    position: absolute;
    z-index: 1;
    color: #fff;
}
.home-content h2{
    margin-top: 200px;
    margin-bottom: 8px;
    font-size: 60px;
}
.home-content span {
    font-size: 30px;
    cursor: pointer;
    /* text-align: left; */
    position: absolute;
    left: 20px;
}
#slideDown{
    width: 50%;
    /* background-color: #111; */
    /* height: 50vh; */
    margin: 50px auto;

}
#slideDown h3{
    padding: 10px;
    margin: 0;
    background-color: rgba(214, 46, 51 , 0.6);
    cursor: pointer;
    color: white;
}
#slideDown div{
    padding: 10px;
    background-color: #ccc;
    display: none;
    font-size: 13px;
}
#slideDown .first{
    display: block;
}
/* end Home */
/* start ovalay */
#ovarlay{
    background-image: url(../invitation-2508607__340.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* position: relative; */
    /* height: 50vh; */
    /* padding: 150px 0px; */
    /* margin: 50px 0px; */

}
#ovarlay .ovarlay{
    /* position: absolute; */
    background-color:rgba(214, 46, 51 , 0.6) ;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.container{
    padding: 100px 0px;
    width: 67%;
}
.container .p-container{
    color: gray;
}
#ovarlay .ovarlay .item{
    padding: 50px;
    border: 1px solid #fff;
    font-size: 25px;
    font-weight: 500;
}
/* end ovalay */


.p-contcact{
    text-align: center;
    font-size: 12px;
     color: gray;
}
.icons{
    /* width: 85%; */
    margin-top: 50px;
    margin-left: auto;
    color: gray;
}
.icons p{
    font-size: 14px;
}
.icons i{
    margin-right: 10px;
}
.icons .email{
    color: red;
}
.icons .email .email-i{
    color: gray;
}
.container .row h3{
    font-size: 18px;
}

.row .social-list{
    margin-top: 60px;
}
.social-list span{
    border: 1px solid gray;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    cursor: pointer;
    padding: 5px;
    color: gray;
}
.social-list span:hover{
    background-color: red;
    border:1px solid red;
    color:#fff;
}
textarea{
    height: 150px;
    resize: vertical;
}
.row #chars{
    color: red;
}